@model IEnumerable<Gcdbs.Models.Montadora>

@{
    ViewData["Title"] = "Montadoras";
}

<h2>Montadoras</h2>

<p>
    <a asp-action="Create">Cadatrar nova Montadora</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeMontadora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMontadora)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMontadora">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMontadora">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMontadora">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
